* {
  transition: all 0.2s ease-out;
}
code {
  padding: 0.15rem 0.5rem !important;
  font-size: 16px !important;
}
svg {
  color: #bbb;
  margin: 0 0.5rem 1px;
}
a:has(svg):hover svg {
  color: #fff;
}
header.top {
  user-select: none;
  padding: 0.5rem;  
}
#examples-btn:hover {
  color: #fff;
}
#examples-btn:hover svg {
  color: #fff !important;
} 
#examples-menu {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 75px;
  padding: 0 16px;
  border-radius: 8px;
  background: #141e26;
  opacity: 0;
  visibility: hidden;
}
#examples-menu.visible {
  opacity: 1;
  visibility: visible;
}
#examples-menu h6 {
  margin: 8px 32px 0;
  text-align: center;
}
.logo {
  margin-bottom: 0; 
}
.logo a {
  color: rgb(26, 179, 230);
}
.logo a:hover {
  color: rgb(63 193 237);
}
/*
 * View Transition styles
 */
@keyframes fade-in {
  from {
      opacity: 0;
      transform: translateX(90px);
  }
}
@keyframes fade-out {
  to {
      opacity: 0;
      transform: translateX(-90px);
  }
}
::view-transition-old(slide-it) {
  animation: 300ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}
::view-transition-new(slide-it) {
  animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in;
}
.slide-transition {
  view-transition-name: slide-it;
}
