code {
  font-size: 12px !important;
}
@media screen and (min-width: 1024px) {
  code {
    font-size: 15px !important;
  }
}
code .table {
  display: inherit;
  font-size: inherit;
}
p:has(> code):has(+ pre) {
  margin-top: 16px;
  padding-left: 24px;
}
