@mixin mobile {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 600px) and (max-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}
