run = "cargo run -p blog"
hidden = ["target"]

[packager]
language = "rust"

[nix]
channel = "unstable"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "chmod +x ./blog && ./blog"]
deploymentTarget = "cloudrun"
