@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(90px);
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
        transform: translateX(-90px);
    }
}

::view-transition-old(slide-it) {
    animation: 300ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(slide-it) {
    animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in;
}

.view-transition {
    view-transition-name: slide-it;
}